@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;1,300;1,500&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/*/////////////////////////////////////*/
header {
    background-image: url("../images/design1_image1.jpg");
    background-size: 100%;
    background-position: 0px -90px;
    min-height: 35vh;
    display: flex;
    /* flex-wrap: nowrap; */
    padding: 1rem;
}

.logo {
    width: 15vw;
    order: 3;
    transform: translate(-5rem, 6rem);
    background-color: white;
    /*border: 2px solid rgb(86, 82, 82);*/
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(134, 121, 128);
}

h1 {
    order: 1;
    flex-grow: 1;
    font-size: 4rem;
    font-family: 'Russo One', sans-serif;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 1px rgba(205, 17, 17, 0.87);
}

/*/////////////////////////////////////*/
main {
    min-height: 60vh;
}

h3 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.container {
    display: flex;
    margin: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 20%;
    gap: 1.5rem;
}

a {
    font-size: 20px;
    color: rgb(27, 47, 139);
    text-align: center;
    width: 15vw;
    padding: 5px;
}

.menuClick {
    text-decoration: none;
    font-weight: 400;
    color: white;
    background-color: rgb(41, 163, 100);
    border-radius: 50px;

}

/*/////Secciones es como NAV////////////////*/
.secciones {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    /* gap: 3rem;*/
    font-size: 22px;
    margin-left: 20px;
}

h4 {
    line-height: 2.5em;
}


/*///////RULES/////////////*/
.rulesTitles {
    text-align: center;
}

.rules_p {
    text-indent: 3rem;
    margin-bottom: 0px;
    text-align: justify;
}

.margin_p {
    margin-bottom: 35px;
}

.lista_num {
    list-style-position: inside;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 20px;
}

.lista_num3 {
    list-style-position: inside;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}

h6 {
    font-weight: normal;
    font-size: 22px;
    display: inline;
}

ul {
    list-style-type: circle;
    margin-left: 70px;
}

.lista_abc {
    list-style-type: lower-alpha;
    list-style-position: inside;
    font-weight: normal;
    font-size: 22px;
}

/*///////GAMEINFORMATION////////////*/
h5 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;

}

.subtitle1 {
    font-style: italic;
    font-size: 1.7rem;
}

.subtitle2 {
    font-style: italic;
    text-decoration: underline;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.game_title {
    font-weight: bold;
    display: inline;

}

.game_desc {
    display: inline;
}


th {
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(76, 74, 82);
    color: white;
    text-align: center;
}

tr {
    height: 50px;
}

td{
    text-align: center;
}

.row_color1 {
    background-color: rgb(208, 236, 255);
}

.row_color2 {
    background-color: rgb(252, 249, 249);
}

table,
tr,
th,
td {
    /* border: 2px solid rgb(200, 62, 62);*/
    border-collapse: collapse;
}

caption {
    caption-side: bottom;
    text-align: center;
}

.end_game1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.end_game1 p {
    margin-bottom: 10px;
}

.end_game2 p {
    margin-bottom: 10px;
}

.phone_mail {
    display: flex;
    justify-content: space-between;
}

/*///////ABOUT////////////*/
.parragraph {
    text-align: justify;
}

.about_title {
    text-align: start;
    color: black;
    background-color: white;
}

/*///////CONTACT////////////*/
p a {
    color: blue;
}


/*///////REGISTRAION FORM////////////*/
form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border-radius: 10px;
    border: 1px solid rgb(190, 186, 186);
    padding: 0 15px 10px 15px;
    margin-bottom: 30px;
    /* display: flex;
    justify-content: space-around; */
}

legend {
    padding: 10px;
    color: rgb(79, 75, 75);
    font-size: 20px;
    font-weight: bold;
}

input {
    font-size: 22px;
    outline: none;
    padding: 3px 10px;
}

input:focus {
    background-color: rgb(176, 227, 185);
}

.personal_info {
    display: flex;
    margin-bottom: 20px;
}

.info_div {
    display: flex;
    align-items: center;
    width: 50%;
}

.info_div label {
    display: flex;
    width: 33%;
}

.info_div input {
    display: flex;
    width: 62%;
    border: 1.5px solid black;
    border-radius: 5px;
}

.address {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.address label {
    display: flex;
    width: 16.5%;
}

.address input {
    display: flex;
    width: 81%;
    border: 1.5px solid black;
    border-radius: 5px;
}

.info_gender {
    display: flex;
    align-items: center;
    width: 50%;
}

.info_gender label {
    width: 33%;
}


select {
    font-size: 22px;
    color: rgb(79, 75, 75);
    border: 1.5px solid black;
    border-radius: 5px;
}

.flex_baround {
    display: flex;
    justify-content: space-around;
}

.sign_info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sign_info input {
    border: none;
    border-bottom: 1.5px solid black;
}

input[type=checkbox] {
    /*agranda el checbox*/
    transform: scale(1.2);
}

input[type=radio] {
    transform: scale(1.2);
}

.submit {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 163, 100);
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(39, 44, 41);
    box-shadow: 0px 0px 15px rgb(3, 71, 37);
    margin-bottom: 25px;
}


.maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    padding-top: 50px;
    padding-bottom: 30px;
}

iframe {
    box-shadow: 0px 0px 10px rgb(134, 121, 128);
    border-radius: 10px;
    width: 260px;
    height: 270px;
}



/*/////////////////////////////////////*/
footer {
    background-color: brown;
    min-height: 5vh;
    color: white;
    font-size: 0.7rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/////////MEDIA QUERIES//////////////////////*/
@media only screen and (min-width:320px) and (max-width:767px) {
    header {
        background-image: url("../images/image_1.jpg");
        background-size: cover;
        background-position: 0px -20px;
        background-repeat: no-repeat;
        min-height: 22vh;
        display: flex;
        padding: 0.5rem;
    }

    .logo {
        width: 20vw;
        order: 3;
        transform: translate(0rem, 2rem);
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgb(134, 121, 128);
    }

    h1 {
        order: 1;
        flex-grow: 1;
        font-size: 1.8rem;
        font-family: 'Russo One', sans-serif;
        -webkit-text-fill-color: yellow;
        -webkit-text-stroke: 1px rgba(205, 17, 17, 0.87);
    }

    main {
        min-height: 73vh;
    }

    h3 {
        text-align: center;
        background-color: black;
        color: white;
        font-size: 1.1rem;
        padding: 5px;
    }

    .container {
        display: flex;
        margin: 5px;
    }

    nav {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 25%;
        gap: 0.7rem;
    }

    a {
        font-size: 13px;
        color: rgb(27, 47, 139);
        text-align: center;
        width: 25vw;
        padding: 5px;
    }

    .secciones {
        font-size: 13px;
        margin-left: 8%;
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .menuClick {
    text-decoration: none;
    font-weight: 400;
    color: white;
    background-color: rgb(41, 163, 100);
    border-radius: 20px;

}

    h4 {
        line-height: 1.5em;
    }

    .margin_p {
        margin-bottom: 25px;
    }

    .lista_num3 {
        list-style-position: inside;
        text-align: justify;
        font-weight: bold;
        font-size: 11px;
    }

    h6 {
        font-weight: normal;
        font-size: 13px;
        display: inline;
    }

    ul {
        list-style-type: circle;
        margin-left: 25px;
    }

    .lista_abc {
        list-style-type: lower-alpha;
        list-style-position: inside;
        font-weight: normal;
        font-size: 13px;
    }

    /*///////GAMEINFORMATION////////////*/
    h5 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .subtitle1 {
        font-style: italic;
        font-size: .9rem;
    }

    .subtitle2 {
        font-style: italic;
        text-decoration: underline;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }


    th {
        font-weight: bold;
        font-size: 10px;
        background-color: rgb(76, 74, 82);
        color: white;
        text-align: center;
    }
    tr {
    height: 20px;
}
    td{
        font-size: 7px;
    }

    .end_game1 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .end_game1 p {
        margin-bottom: 10px;
    }

    .end_game2 p {
        margin-bottom: 5px;
    }

    .phone_mail {
        display: inline;
    }


    legend {
        padding: 10px;
        color: rgb(79, 75, 75);
        font-size: 11px;
        font-weight: bold;
    }

    input {
        font-size: 13px;
        outline: none;
        padding: 3px 10px;
    }

    .personal_info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .info_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info_div label {
        width: 100%;
    }

    .info_div input {
        width: 100%;
        border: 1.5px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .address {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
    }
    
    .address label {
        display: flex;
        width: 100%
    }
    
    .address input {
        display: flex;
        width: 100%;
        border: 1.5px solid black;
        border-radius: 5px;
     margin-bottom: 10px;
    }

    .info_gender {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .info_gender label {
        width: 100%;
    }

    select {
        font-size: 13px;
        color: rgb(79, 75, 75);
        border: 1.5px solid black;
        border-radius: 5px;
    }

    .flex_baround {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sign_info {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .sign_info input {
        border: none;
        border-bottom: 1.5px solid black;
    }

    
    input[type=submit] {
        font-size: 11px;
        font-weight: bold;
        color: white;
        background-color: rgb(41, 163, 100);
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgb(39, 44, 41);
        box-shadow: 0px 0px 5px rgb(3, 71, 37);
        margin-bottom: 20px;
    }

    .maps {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    iframe {
        box-shadow: 0px 0px 10px rgb(134, 121, 128);
        border-radius: 10px;
        width: 200px;
        height: 200px;
    }


    footer {
        background-color: brown;
        min-height: 5vh;
        color: white;
        font-size: 0.7rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}