* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;

}

header {
  background-image: url("../images/design1_image1.jpg");
  background-size: 100%;
  background-position: 0px -100px;
  height: 35vh;
  width: 100vw;
  position: relative;
  z-index: 10;
}

.logo {
  width: 12%;
  position: absolute;
  transform: translate(60rem, 9rem);
  z-index: 1;
  /*logo effects*/
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 100px rgb(90, 88, 88);
}

.textLogo {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px red;
  text-shadow: -2px -2px 10px rgb(18, 159, 18);
  /*font-size: 5vw;*/
  font-size: calc(1em + 1vw);
  z-index: 3;
}

.titlePage {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  /*margin-bottom: 5px;*/
}

a {
  display: block;
  height: 70px;
  font-size: 12px;
}

.menu{
  display: inline-block;
  position: relative;
  width: 15%;
  height: 300px;
  padding-top: 30px;
  padding-left: 20px;
}

.homeLink {
  text-decoration: none;
}

.aboutLink {
  text-decoration: none;
}

.contactLink {
  text-decoration: none;
}

.infoSection {
  display: inline-block;
  position: absolute;
  width: 85%;
  height: 340px;
  padding-top: 30px;
  padding-left: 15px;
}

article>p {
  padding-bottom: 30px;
  font-size: 15px;
  text-indent: 18px;
}

article>h4 {
  font-style: italic;
  font-size: 15px;
}

.parrafoAbout {
  font-size: 12px;
  text-indent: 18px;
  padding-bottom: 40px;
  width: 80%;
}

.parrafoContact {
  font-size: 12px;
  padding-bottom: 10px;
}

#anchorInline {
  display: inline;
}