* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

header{
  background-image: url("../images/design1_image1.jpg");
  height: 35vh;
  width: 100%;
  position: relative;
}

.logo{
  width: 150px;
  position: absolute;
  transform: translate(55rem, 10rem);
  z-index: 1;
}
.textLogo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
  z-index: 3;
}
.titlePage {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
a {
  display: block;
  height: 70px;
  font-size: 12px;
}
.nav {
  display: inline-block;
  position: relative;
  width: 15%;
  height: 300px;
  border: 5px solid white;
  padding-left: 20px;
  padding-top: 30px;
}
.homeLink {
  text-decoration: none;
}
.aboutLink {
  text-decoration: none;
}
.contactLink {
  text-decoration: none;
}

.infoEvent {
  display: inline-block;
  position: absolute;
  width: 85%;
  height: 340px;
  border: 5px solid white;
  padding-top: 30px;
  padding-left: 15px;
}
article > p {
  padding-bottom: 30px;
  font-size: 15px;
  text-indent: 18px;
}
article > h4 {
  font-style: italic;
  font-size: 15px;
}

.parrafoAbout {
  font-size: 12px;
  text-indent: 18px;
  padding-bottom: 40px;
  width: 80%;
}
.parrafoContact {
  font-size: 12px;
  padding-bottom: 10px;
}
#anchorInline {
  display: inline;
}
